<div id="message- ><%= message.id %>">
  <small>
    <strong> <%= message.user.nickname %></strong>
    <i> <%= message.created_at.strftime("%d/%m/%Y") %></i>
  </small>
  <p><%= message.contenu %> </p>
  </div>
