<div class="home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('home2.jpg') %>);">

    <div class="container">
      <h1 class="text-center">Découvrez nos expériences uniques </h1>
     <%= link_to "Cliquez-ici", experiences_path, class:"btn-home" %>
    </div>
  </div>
</div>
