<h1>Nouvelle réservation en attente</h1>

<p>Un utilisateur a fait une nouvelle demande de réservation pour <%= @reservation.experience.nom %> du <%= @reservation.date_de_debut %> au <%= @reservation.date_de_debut %>.</p>

<p>Veuillez vous connecter à l'admin pour valider ou refuser cette demande.</p>
