<h1>Bonjour <%= @user.nickname %>,</h1>

<p>Le statut de votre réservation pour l'expérience "<%= @reservation.experience.nom %>" a été mis à jour.</p>

<p>Le nouveau statut est : <%= @statut %></p>

<p>Merci de votre confiance !</p>

<p>L'équipe de réservation</p>
