.navbar-lewagon {
  justify-content: space-between;
  background: #D5203E;
}

.navbar-lewagon a {
  color: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid img {
  border-radius: 50%;
}

h1  {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
  }
