.navbar-lewagon {
  justify-content: space-between;
  background: #D5203E;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
h1  {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
  }
