.experiences{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 1px;
}
.experience-card{
  display:  block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
.name{
  color:#DE3163;
  font-size: 24px;
  font-weight: bolder;
  font-family:"Rufina", serif; ;
}

.photo-container {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  gap: 30px;
}
